POSTGRES_DB=investify
POSTGRES_USER=investify
POSTGRES_PASSWORD=investify
POSTGRES_PORT=5432

API_PORT=8080
API_DB_HOST=postgres
API_DB_PORT=5432
API_DB_NAME=investify
API_DB_USER=investify
API_DB_PASSWORD=investify
API_ML_BASE_URL=http://ml-service:8000

ML_PORT=8000

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080